.divatt4 {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    border-radius: 50%;
    margin-top: 20px;
}

.divatt4:hover {
    background-color: #00ff00;
    cursor: pointer;
}

.cores {
    display: flex;          
    flex-direction: row;    
    flex-wrap: nowrap;     
    gap: 20px;              
    margin-top: 20px;
    align-items: center;
}

.verde {
    background-color: #2E7D32;
    width: 200px;
    height: 200px;
}
.vermelho {
    background-color: #C62828;
    width: 200px;
    height: 200px;
}
.cinza {
    background-color: #F5F5F5;
    width: 200px;
    height: 200px;
}
.azul {
    background-color: #263238;
    width: 200px;
    height: 200px;
}

.verde:hover {
    outline: auto;
    cursor: pointer;
}

.vermelho:hover {
    outline: auto;
    cursor: pointer;
}

.cinza:hover {
    outline: auto;
    cursor: pointer;
}

.azul:hover {
    outline: auto;
    cursor: pointer;
}